body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.artist-card {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 160px; */
  /* height: 14em; */
  margin: 1em;
  box-sizing: border-box;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 0em 0em 1em 0em;
}
artist-card p {
  padding: 1em;
}

.artist-card img {
  width: 100%;
  height: 12em;
}
.h1-artist-card {
  display: flex;
  justify-self: center;
}
/* .artist-card h1 {
  display: grid;
  align-content: end;
  position: relative;
  top: 5em;
  text-align: left;
  padding-left: 0.5em;
} */

.artist-detail-container {
  display: grid;
  grid-template-columns: 1fr;
}

.artist-detail-container h1 {
}

.artist-detail-container img {
  width: 100%;
  height: 12em;
}

button {
  background: transparent;
  border-radius: 25px;
  border: 2px solid #000000;
  background-color: #ffffff;
  color: #000000;
  margin: 0.5em 1em;
  padding: 0.25em 1em;
  width: 9em;
  position: relative;
  height: 3em;
}
.intro {
  font-size: 2em;
}
